@import url('https://fonts.cdnfonts.com/css/netflix-font');

* {
  padding: 0;
  margin: 0;
  font-family: 'Netflix Font', sans-serif;
}

body {
  max-width: 100%;
  background-color: #00081d;
  overflow-x: hidden;
}

nav {
  position: absolute;
  top: 0%;
  display: flex;
  margin: 20px;
  margin-left: -10px;
  justify-content: space-between;
  width: 95%;
  height: 30px;
}

#logo {
  margin-left: 30px;
  height: 40px;
}

select {
  background-color: transparent;
  color: white;
  padding: 5px 30px;
}

.globe{
  position: relative;
  top: 3px;
  left: 28px;
  height: 16px;
  width: 16px;

}

.btn {
  background-color: red;
  color: white;
  border-radius: 7px;
  border: none;
}

.sign {
  padding: 5px 15px;
}

.btn:hover {
  background-color: rgb(223, 0, 0);
}

.btn:active {
  background-color: rgb(210, 0, 0, 0.9);
}

.main {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-height: 43.75rem;
  background-image: linear-gradient(40deg, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%), url(https://assets.nflxext.com/ffe/siteui/vlv3/ceb3b1eb-2673-4dd9-a6e3-0cd7a5e130ee/7540883d-de7a-4a69-8cc6-c3885d3a2b0b/IN-en-20230522-popsignuptwoweeks-perspective_alpha_website_large.jpg);

}

h1 {
  position: relative;
  width: 65%;
  font-size: 4rem;
}

h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.ready {
  font-size: 1.2rem;
  margin-top: 20px;
  margin-bottom: 15px;
}

input {
  width: 300px;
  padding: 15px 30px;
  background-color: rgb(0, 0, 0, .4);
  color: white;
  border: 2px solid rgb(67, 67, 67);
  font-size: 1rem;
}

input:focus {
  outline: 1px solid white;
}

.gs {
  margin: 5px;
  padding: 14px 27px;
  font-size: 20px;
}

.cards {
  width: calc(95%);
  margin-left: 2%;
  margin-top: -150px;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  justify-content: space-evenly;
}

.card {
  width: calc(90% / 4);
  background: linear-gradient(152deg, rgb(99, 5, 35) 15%, rgb(24, 11, 56) 50%);  height: 300px;
  border-radius: 20px;
  display: flex;
  margin: 5px 0;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-left: 25px;
}

.card img {
  width: 100px;
  height: 100px;
}

.faq {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 50px;
  color: white;
  background-color: transparent;
  justify-content: space-between;
}

.faq h2 {
  padding: 50px 0;
  font-size: 40px;
}

.collapsible {
  background-color: rgb(19, 33, 68);
  color: white;
  cursor: pointer;
  padding: 24px;
  width: 75%;
  margin-bottom: .5rem;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
}

.active,
.collapsible:hover {
  background-color: rgb(25, 43, 87);
}

.collapsible::after {
  content: '\2719';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.active::after {
  content: "\2719";
  transform: rotate(-45deg);
}

.content {
  overflow: hidden;
  padding: 0px 24px;
  max-height: 0;
  text-align: left;
  width: calc(75% - 50px);
  margin-bottom: .5rem;
  font-size: 24px;
  height: auto;
  transition: max-height 0.2s ease-out;
  background-color: rgb(19, 33, 68);
}

.gs2 {
  margin-bottom: 50px;
}

.footer {
  width: 95%;
  color: gray;
  margin: 50px;
  padding: 10px;
}

.elems {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li {
  flex: 0 0 25%;
  list-style: none;
  box-sizing: border-box;
  padding: 5px;
  align-items: center;
  color: gray;
}

a {
  color: gray;
  font-size: 14px;
}

.end{
  margin: 30px 10px;
}

.end p{
  padding: 30px 0;
}

@media (max-width: 1024px){ /*for medium size laptop*/
  li{
    flex: 33.33%;
  }
  
  .cards{
    margin-top: 0;
  }
  .card{
    width: calc(90% / 2);
  }
}

@media (max-width: 768px) { /* for tablet or small laptop*/
  .main{
    width: 100%;
    align-items: center;
    text-align: center;
  }
  li{
    flex: 50%;
  }
}

@media (max-width: 480px) { /*For Mobile Devices*/
  .main{
    font-size: 20px;
  }
  h1{
    font-size: 36px;
  }

  h3{
    font-size: 24px;
  }

  .ready{
    font-size: 18px;
  }

  li{
    flex: 100%;
  }

  .card{
    width: 90%;
  }
}